# Project Group - 

Members: Eva Lijnen, Chaja Swab, Willemijn Dietz, Veerle van Citters, Noa Zijlmans

Student numbers: 4570812, 4661753, 5868130, 5871026, 4957024

# Research Objective

*Requires data modeling and quantitative research in Transport, Infrastructure & Logistics*

# Research Question:
**How did Covid-19 affect the passenger air traffic in the Netherlands?**

*Time scope:*
January 2019 - August 2022
(Covid-19 begin datum, toen nog geen meetgegevens, dus nemen data vanaf xx-xx-xxxx)
2019 is our base case scenario, the impact of Covid on the number of passenger is measured by comparing a given month in the pandemic with the corresponding month in the base case scenario.

*Spatial scope:* 
All passengers related to the following airports fall inside the scope: Amsterdam Airport Schiphol, Rotterdam The Hague Airport, Eindhoven Airport, Maastricht Aachen Airport and Groningen Airport Eelde. It has been decided to consider the number of passenger instead of flights. The reasoning behind this is that the number of flights might not be representative as airlines operated empty flights in order to keep their airport slot during Covid-19 (https://nos.nl/artikel/2412154-die-duizenden-lege-vluchten-zijn-volgens-luchthavenkoepel-helemaal-niet-nodig). 

*Definitions:*
As stated in the reasearch question, only passenger air traffic is considered; cargo and mail air traffic fall outside the scope of this research. Moreover, our hypothesis is that mail and cargo air traffic have been less affected by Covid-19. Passenger air traffic is measured in number of passenger (not in number of flights). 


# Subquestions: 
**Subquestion 1**

How has the number of air traffic passengers developed in the considered time and spatial scope?

*Hypothesis:* It is expected that the number of passengers is dependent on the governmental regulations in place. In times of strict regulations, it is expected that the number of air passengers is low. When Covid-19 measurements where low, it is expected that the number of passengers is broadly comparable to the number of passengers before Covid-19.  


**Subquestion 2**

How has the number of new Covid-19 cases developed in the considered time in the Netherlands?

*Hypothesis:* It is expected that the number of Covid infections is dependent on seasonality and the regualtions in place. 


**Subquestion 3**

Are there relative differences in the development of air traffic passengers between the considered airports in the Netherlands?

*Hypothesis:* Groningen airport is mainly focused on pleasure flights (BRON), therefore it is expected that the number of passengers has been less affected compared to other airports. 


**Subquestion 4**

How has COVID-19 impacted air traffic from and to various regions / continents?

*Hypothesis:* It is expected that number of air passengers on intercontinental flights has been more affected than EUROPEAN FLIGHTS?

# Discussion:

- Covid cases: niet bekend / betrouwbaar in begin van pandemie (definieer tijdsperiode). 
- Seasonality: take into accoutn
- 'Yearly' growth of air traffic not incorporated between 2019-2022
- External factors outside the scope: high costs / inflation / recession, fear of Covid, personnel shortages
- July misschien niet representative

# Contribution Statement

*Be specific. Some of the tasks can be coding (expect everyone to do this), background research, conceptualisation, visualisation, data analysis, data modelling*

**Author 1**:

**Author 2**:

**Author 3**:

# Data Used

# Data Pipeline

In [52]:
import pandas as pd

filepath = '/Users/willemijndietz/Project-TIL6022-Group-21/Monthly_figures_on_aviation_10102022_111323.csv'

airtraffic_df = pd.read_csv(filepath, sep=";")

airtraffic_df

,Airports,Periods,Aircraft movements/Cross-country flights (number),Aircraft movements/Local flights (number),Commercial air traffic/Flights/All flights/Total flights (number),Commercial air traffic/Flights/All flights/Scheduled (number),Commercial air traffic/Flights/All flights/Non-scheduled (number),Commercial air traffic/Flights/Arrivals/Total arrivals flights (number),Commercial air traffic/Flights/Arrivals/Scheduled (number),Commercial air traffic/Flights/Arrivals/Non-scheduled (number),...,Commercial air traffic/Mail/Country of origin/destination mail/Intercontinental mail/Africa/South Africa (ton),Commercial air traffic/Mail/Country of origin/destination mail/Intercontinental mail/America/America (ton),Commercial air traffic/Mail/Country of origin/destination mail/Intercontinental mail/America/North America (ton),Commercial air traffic/Mail/Country of origin/destination mail/Intercontinental mail/America/Central America (ton),Commercial air traffic/Mail/Country of origin/destination mail/Intercontinental mail/America/South America (ton),Commercial air traffic/Mail/Country of origin/destination mail/Intercontinental mail/Asia/Asia (ton),Commercial air traffic/Mail/Country of origin/destination mail/Intercontinental mail/Asia/West Asia (ton),Commercial air traffic/Mail/Country of origin/destination mail/Intercontinental mail/Asia/South-East Asia (ton),Commercial air traffic/Mail/Country of origin/destination mail/Intercontinental mail/Asia/North-East Asia (ton),Commercial air traffic/Mail/Country of origin/destination mail/Intercontinental mail/Oceania (ton)
0,Total Dutch airports,1999 January,36810,14868,33145,31222,1923,16565,15616,949,...,.,.,.,.,.,.,.,.,.,.
1,Total Dutch airports,1999 February,34356,11314,30912,29015,1897,15444,14513,931,...,.,.,.,.,.,.,.,.,.,.
2,Total Dutch airports,1999 March,41290,18152,35591,33278,2313,17802,16644,1158,...,.,.,.,.,.,.,.,.,.,.
3,Total Dutch airports,1999 April,41338,18043,35832,33114,2718,17910,16552,1358,...,.,.,.,.,.,.,.,.,.,.
4,Total Dutch airports,1999 May,44679,18932,38376,34138,4238,19200,17066,2134,...,.,.,.,.,.,.,.,.,.,.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1765,Groningen Airport Eelde,2022 April*,1029,4076,62,0,62,32,0,32,...,0,0,0,0,0,0,0,0,0,0
1766,Groningen Airport Eelde,2022 May*,1043,4264,120,0,120,57,0,57,...,0,0,0,0,0,0,0,0,0,0
1767,Groningen Airport Eelde,2022 June*,1260,5606,148,0,148,78,0,78,...,0,0,0,0,0,0,0,0,0,0
1768,Groningen Airport Eelde,2022 July*,1114,5362,132,0,132,67,0,67,...,0,0,0,0,0,0,0,0,0,0
1769,Groningen Airport Eelde,2022 August*,1131,5378,135,0,135,65,0,65,...,0,0,0,0,0,0,0,0,0,0

# Subquestion 2:

Filtered and prepared the data. Use of new_cases_smoothed --> justification based on source.
Only Covid-19 measurements that have a direct impact on travelling, have been considered in this subquestion.

In [53]:
# Import world Covid Data

filepath2 = r"C:\Users\zijlm\Downloads\owid-covid-data.csv"

covid_world_df = pd.read_csv(filepath2, sep=",")
covid_world_df

# Preparing the full data set for furhter use
# Filtering on Covid new cases for the Netherlands

covid_nl_total_df = covid_world_df[
    covid_world_df['location'] == 'Netherlands'
]

covid_nl_total_df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
139323,NLD,Europe,Netherlands,2020-02-27,1.0,1.0,NaN,NaN,NaN,NaN,...,24.4,27.3,NaN,3.32,82.28,0.944,NaN,NaN,NaN,NaN
139324,NLD,Europe,Netherlands,2020-02-28,6.0,5.0,NaN,NaN,NaN,NaN,...,24.4,27.3,NaN,3.32,82.28,0.944,NaN,NaN,NaN,NaN
139325,NLD,Europe,Netherlands,2020-02-29,10.0,4.0,NaN,NaN,NaN,NaN,...,24.4,27.3,NaN,3.32,82.28,0.944,NaN,NaN,NaN,NaN
139326,NLD,Europe,Netherlands,2020-03-01,18.0,8.0,NaN,NaN,NaN,NaN,...,24.4,27.3,NaN,3.32,82.28,0.944,-2332.1,-7.62,-8.61,-133.249943
139327,NLD,Europe,Netherlands,2020-03-02,24.0,6.0,NaN,NaN,NaN,NaN,...,24.4,27.3,NaN,3.32,82.28,0.944,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140268,NLD,Europe,Netherlands,2022-09-29,8433077.0,0.0,1751.857,22730.0,0.0,1.857,...,24.4,27.3,NaN,3.32,82.28,0.944,NaN,NaN,NaN,NaN
140269,NLD,Europe,Netherlands,2022-09-30,8441602.0,8525.0,2200.857,22737.0,7.0,1.857,...,24.4,27.3,NaN,3.32,82.28,0.944,NaN,NaN,NaN,NaN
140270,NLD,Europe,Netherlands,2022-10-01,8441602.0,0.0,2200.857,22737.0,0.0,1.857,...,24.4,27.3,NaN,3.32,82.28,0.944,NaN,NaN,NaN,NaN
140271,NLD,Europe,Netherlands,2022-10-02,8441602.0,0.0,2200.857,22737.0,0.0,1.857,...,24.4,27.3,NaN,3.32,82.28,0.944,NaN,NaN,NaN,NaN
140272,NLD,Europe,Netherlands,2022-10-03,8441604.0,2.0,2200.571,22737.0,0.0,1.857,...,24.4,27.3,NaN,3.32,82.28,0.944,NaN,NaN,NaN,NaN

In [54]:
covid_nl_df = covid_nl_total_df.iloc[:, [2,3,6]]
covid_nl_df

           location        date  new_cases_smoothed
139323  Netherlands  2020-02-27                 NaN
139324  Netherlands  2020-02-28                 NaN
139325  Netherlands  2020-02-29                 NaN
139326  Netherlands  2020-03-01                 NaN
139327  Netherlands  2020-03-02                 NaN
...             ...         ...                 ...
140268  Netherlands  2022-09-29            1751.857
140269  Netherlands  2022-09-30            2200.857
140270  Netherlands  2022-10-01            2200.857
140271  Netherlands  2022-10-02            2200.857
140272  Netherlands  2022-10-03            2200.571

[950 rows x 3 columns]

In [55]:
df = covid_nl_df.drop(covid_nl_df[covid_nl_df.new_cases_smoothed == 'NaN'].index)
df

           location        date  new_cases_smoothed
139323  Netherlands  2020-02-27                 NaN
139324  Netherlands  2020-02-28                 NaN
139325  Netherlands  2020-02-29                 NaN
139326  Netherlands  2020-03-01                 NaN
139327  Netherlands  2020-03-02                 NaN
...             ...         ...                 ...
140268  Netherlands  2022-09-29            1751.857
140269  Netherlands  2022-09-30            2200.857
140270  Netherlands  2022-10-01            2200.857
140271  Netherlands  2022-10-02            2200.857
140272  Netherlands  2022-10-03            2200.571

[950 rows x 3 columns]

In [56]:
covid_nl_clean_df = covid_nl_df.dropna()
covid_nl_clean_df

           location        date  new_cases_smoothed
139328  Netherlands  2020-03-03               5.429
139329  Netherlands  2020-03-04              11.714
139330  Netherlands  2020-03-05              18.143
139331  Netherlands  2020-03-06              26.000
139332  Netherlands  2020-03-07              36.429
...             ...         ...                 ...
140268  Netherlands  2022-09-29            1751.857
140269  Netherlands  2022-09-30            2200.857
140270  Netherlands  2022-10-01            2200.857
140271  Netherlands  2022-10-02            2200.857
140272  Netherlands  2022-10-03            2200.571

[945 rows x 3 columns]